@model PersonDetailModel;

@{
    ViewData["Title"] = "Person information";
    var value = ViewData["Index"]?.ToString() ?? "";
    var index = !string.IsNullOrEmpty(value) ? int.Parse(value) : 0;
}

<div class="">
    <h1 class="display-4 text-center">Person information</h1>
    <div class="row"></div>
    <form class="col-6 mx-auto">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <span class="form-control">@Model.FirstName</span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <span class="form-control">@Model.LastName</span>
        </div>
        <div class="form-group">
            <label asp-for="Gender">Gender</label>
            <span class="form-control">@Model.Gender</span>

        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <span class="form-control">@Model.DateOfBirth</span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <span class="form-control">@Model.PhoneNumber</span>
        </div>
        <div class="form-group">
            <label asp-for="BirthPlace"></label>
            <span class="form-control">@Model.BirthPlace</span>
        </div>
        <a role="button" class="my-3 btn btn-primary bg-blue-500" asp-controller="Rookies" asp-action="Index">Back to
            list</a>
        <a role="button" href="#" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Delete</a>
    </form>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Rookies" asp-action="DeleteAndToRedirectToResultView" asp-route-index="@index"
                method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure ???
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-primary bg-gray-500 my-3 border-gray-600 hover:bg-gray-600 hover:border-gray-600"
                        data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary bg-blue-500 my-3">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>