@model List<dotnet_core_assignment_day1.Models.PersonModel>;

@{
    ViewData["Title"] = "Rookies Page";
}

<div class="text-center">
    <h1 class="display-4">All members</h1>
    <div class="mb-3">
        <a type="button" role="button" class="btn btn-primary" asp-controller="Rookies" asp-action="Create">Create new
            person</a>
    </div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>#</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>DateOfBirth</th>
            <th>PhoneNumber</th>
            <th>BirthPlace</th>
            <th>IsGraduated</th>
            <th>Actions</th>
        </tr>
        @{
            int i = 0;
            foreach (var d in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@d.FirstName</td>
                    <td>@d.LastName</td>
                    <td>@d.Gender</td>
                    <td>@d.DateOfBirth</td>
                    <td>@d.PhoneNumber</td>
                    <td>@d.BirthPlace</td>
                    <td>@d.IsGraduated</td>
                    <td>
                        <a role="button" class="btn btn-primary" asp-controller="Rookies" asp-action="Edit"
                    asp-route-index="@i">Edit</a>
                        <a role="button" href="#" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Delete</a>
                    </td>
                </tr>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form asp-controller="Rookies" asp-action="Delete" asp-route-index="@i" method="post" class="">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure ???
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                i += 1;
            }
        }
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>